<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" style="color: rgb(0, 0, 0)">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/" routerLinkActive="active" 
        [routerLinkActiveOptions]="{exact: true}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/intro" routerLinkActive="active">Intro</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/tables" routerLinkActive="active">Table Intro</a>
      </li>
      <li class="nav-item" *ngIf=!loginService.isloggedIn>
        <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
      </li>
      <li class="nav-item" *ngIf=loginService.isloggedIn>
        <a class="nav-link" routerLink="/register" routerLinkActive="active">Posts</a>
      </li>
      <li class="nav-item" *ngIf=loginService.isloggedIn>
        <a class="nav-link" routerLink="/todos" routerLinkActive="active">To-Do</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/parent" routerLinkActive="active">Parent-Child</a>
      </li>
      <li class="nav-item" *ngIf=loginService.isloggedIn>
        <a class="nav-link" routerLink="/logout" (click)="Logout()" routerLinkActive="active">Logout</a>
      </li>
    </ul>
  </div>
</nav>